h1.title
{
    text-align: center;
    color: rgb(9, 255, 0);
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 20px;
    margin-bottom: 0ex;
    text-shadow: 8px 8px 8px green;
    background-color: rgb(142, 68, 181);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    margin-left: 30px ;
    
    width:96%;
    
    
}
body
{
    background-color:rgb(167, 162, 239);
    border-image-slice:50% 15% 32% 16%;
    border-image-width:1.5em 1.5em 1.5em 1.5em;
    border-image-outset:0px 0px 0px 0px;
    border-image-repeat:round round;
    border-image-source:url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-2.png");
    border-style:solid;
}
a
{
    text-decoration:none;
    color:brown;
    transition: all;
    transition-duration: 1.5s;
}
a:hover
{
    text-decoration:underline cornsilk;
    color:coral;
}

ol.roman
{
    list-style-type: upper-roman;
    background-color: rgb(184, 158, 240);
    color:greenyellow;
    font-size:x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 50%;
}
table, th, td {
  
    border: 8px solid blanchedalmond;
    border-collapse: collapse;
    border-bottom: 0px;
    background-color:darksalmon;
    font-size: 30px;
    transition-property:background-color;
    transition-duration: 1.5s;
    
}
table
{
    width: 96%;
    margin-left: 30px;
    
    
}

th:hover
{
    background-color:black;
    
}
div.index
{
    border: 5px;
    
}
footer.foot
{
    text-align: right;
    font-weight: bold;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 30px;
}
div.content
{
    margin-left: 30px;
    margin-right: 30px ;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img.musician
{
    border-image-slice:42 42 42 42;
    border-image-width:42px 42px 42px 42px;
    border-image-outset:30px 30px 30px 30px;
    border-image-repeat:round round;
    border-image-source:
    url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-6.svg");
    border-style:solid;
    margin-left: 80px;
    
}
ul.about
{


}
br
{
    display: inline ;
}
