h1.title
{
    text-align: center;
    color: rgb(9, 255, 0);
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 20px;
    margin-bottom: 0ex;
    text-shadow: 8px 8px 8px green;
    background-color: blueviolet;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
body
{
    background-color: gray;
}
a
{
    text-decoration:none;
    color:brown;
}
a:hover
{
    text-decoration:underline cornsilk;
    color:coral;
}

ol.roman
{
    list-style-type: upper-roman;
    background-color: grey;
    color:greenyellow;
    font-size:x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 50%;
}
table, th, td {
  
  border: 8px solid gray;
  border-collapse: collapse;
  border-bottom: 0px;
}
table
{
    width: 100%;
}
th, td {
  background-color: #96D4D4;
  font-size: 30px;
  
}
div.index
{
    border: 5px;
    
}
footer.foot
{
    text-align: right;
    font-weight: bold;
    
}
div.content
{
    
}