h1.title
{
    text-align: center;
    color: rgb(0, 183, 255);
    font-size: 40px;
    font-weight: bold;
   letter-spacing: 20px; 
   text-shadow: 8px 8px 8px green;
   background-color: blueviolet;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
body
{
    background-color: yellow;
}
ol.roman
{
    list-style-type: upper-roman;
    background-color: aqua;
    color:darkgoldenrod;
    font-size:x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 50%;
}

