h1.title
{
    text-align: center;
    color: rgb(9, 255, 0);
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 20px;
    margin-bottom: 0ex;
    text-shadow: 8px 8px 8px green;
    background:linear-gradient(to left,rgb(121, 113, 125),rgb(230, 112, 234) ) ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    margin-left: 30px ;
    border-image-source: url("./Images/border1.jpg");
    border-image-slice:42 42 42 42;
    border-image-width:42px 42px 42px 42px;
    border-image-repeat:round round;
    border-image-source:
    url("./Images/border1.jpg");
    border-style: solid;
    width:96%;
}

body
{
    background-color:rgb(167, 162, 239);
    border-image-slice:50% 33% 15% 33%;
    border-image-width:1.5em 1.5em 1.5em 1.5em;
    border-image-outset:0px 0px 0px 0px;
    border-image-repeat:round round;
    border-image-source:url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-2.png");
    border-style:solid;
}

a
{
    text-decoration:none;
    color:rgb(177, 34, 34);
    transition: all;
    transition-duration: 1.5s;
    
}

a:hover
{
    text-decoration:underline rgb(236, 191, 10);
    animation: ahover 5s infinite;
    -webkit-animation: ahover 5s infinite;
}

@keyframes ahover
{
    0%{color:rgb(188, 53, 53); }
    50%{color:rgb(255, 6, 205);}
    100%{  color:rgb(188, 53, 53);}
}

ol.roman
{
    list-style-type: upper-roman;
    background-color: rgb(184, 158, 240);
    color:greenyellow;
    font-size:x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 50%;
    border-radius: 30px;
}

table, th {
  
    border: 6px solid rgb(3, 9, 90);
    border-collapse: collapse; 
    background-color:darksalmon;
    font-size: 30px;
    transition-property:all;
    transition-duration: 1s;
    
}

tr,td{
  border: 6px groove;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-image:linear-gradient(to left, #F4D35E, #FAF0CA);
}

tr:nth-child(odd) {
  background-image:linear-gradient(to left, #F95738, #EE964B); 
}

table
{
    width: 96%;
    margin-left: 30px;
    background-image:linear-gradient(to left, #5e09f1, #d53a9d);  
    border: 5px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

.menu {
  display: block;
  position: relative;
  cursor: pointer;
  margin-top:5px;
}

div.menu{
    display: flex;
    
    justify-content: center;   
}   
.menu-title {
  display: block;
  width: 150px;
  height: 40px;
  padding: 12px 0 0;
  background: #9dc852;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s background-color;
}

.menu-title:before {
  content: "";
  display: block;
  height: 0;
  border-top: 5px solid #9dc852;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 0 solid #dddddd;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 101;
  transition: 0.2s 0.2s border-top ease-out, 0.3s border-top-color;
}

.menu-title:hover {
  background: #8db842;
}

.menu-title:hover:before {
  border-top-color: #8db842;
}

.menu:hover > .menu-title:before {
  border-top-width: 0;
  transition: 0.2s border-top-width ease-in, 0.3s border-top-color;
}

.menu-title:after {
  content: "";
  display: block;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 0 solid #ebebeb;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 101;
  transition: 0.2s border-bottom ease-in;
}

.menu:hover > .menu-title:after {
  border-bottom-width: 5px;
  transition: 0.2s 0.2s border-bottom-width ease-out;
}

.menu-title_2nd {
  background: #4e96b3;
}

.menu-title_2nd:hover {
  background: #3e86a3;
}

.menu-title_2nd:before {
  border-top-color: #4e96b3;
}

.menu-title_2nd:hover:before {
  border-top-color: #3e86a3;
}

.menu-title_3rd {
  background: #c97676;
}

.menu-title_3rd:hover {
  background: #b96666;
}

.menu-title_3rd:before {
  border-top-color: #c97676;
}

.menu-title_3rd:hover:before {
  border-top-color: #b96666;
}

.menu-title_4th {
  background: #dbab58;
}

.menu-title_4th:hover {
  background: #cb9b48;
}

.menu-title_4th:before {
  border-top-color: #dbab58;
}

.menu-title_4th:hover:before {
  border-top-color: #cb9b48;
}

.menu-dropdown {
  min-width: 100%;
  padding: 15px 0;
  position: absolute;
  background: #ebebeb;
  z-index: 100;
  transition: 0.5s padding, 0.5s ;
}

.menu-dropdown:after {
  content: "";
  display: block;
  height: 0;
  border-top: 5px solid #ebebeb;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 101;
  /*transition: 0.5s border-top;*/
}

.menu:not(:hover) > .menu-dropdown {
  padding: 4px 0;
  background: #dddddd;
  z-index: 99;
}

.menu:not(:hover) > .menu-dropdown:after {
  border-top-color: #dddddd;
}

.menu:not(:hover) > .menu-title:after {
  border-bottom-color: #dddddd;
}

.menu-dropdown > * {
  overflow: hidden;
  height: 30px;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0);
  white-space: nowrap;
  /*transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color, 0.2s background-color;*/
}

.menu-dropdown > *:hover {
  background: rgba(0, 0, 0, 0.1);
}

.menu:not(:hover) > .menu-dropdown > * {
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: rgba(25, 25, 25, 0);
  transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color, 0.6s visibility;
  z-index: 99;
}

.hList > * {
  float: left;
}

.hList > * + * {
  margin-left: 0;
}

th:hover.Ntouch
{
    background:radial-gradient(circle ,rgb(13, 39, 111),rgb(4, 138, 153));
    width:30%;
    height: 50px;
    animation: mymove 5s infinite;
    -webkit-animation: mymove 5s infinite;
}
@keyframes mymove{
0%{ border: 7px solid rgb(12, 210, 154);}
50%{border: 7px solid #AFA98D;}
100%{ border: 7px solid rgb(12, 210, 154);}
}
div.index
{
    border: 5px;
}
footer.foot
{
    text-align: right;
    font-weight: bold;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 30px;
}
div.content
{
    display: none;
    margin-left: 30px;
    margin-right: 30px ;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-image-slice:70;
    border-image-width:50px;
    border-image-outset:0px;
    border-image-repeat: round round;
    padding: 60px;  
    border-image-source:
    url("./Images/frame1.jpg");
    border-style: solid;
}
img.musician
{
    border-image-slice:42 42 42 42;
    border-image-width:42px 42px 42px 42px;
    border-image-outset:30px 30px 30px 30px;
    border-image-repeat:round round;
    border-image-source:
    url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-6.svg");
    border-style: solid;
    width: 250px;
    height: 300px;
    margin-top: 30px;
}
ul.about
{
    list-style-image: url("./Images/about_list.png") ;
    
}
hr.main
{
    border-color: blue; 
    height:5px ;
    background:linear-gradient(to right,rgb(20, 157, 226),rgb(169, 211, 19), red);
    
}
@keyframes musicianMove
{
    0%{transform: rotate(0deg);}
    25%{transform:rotate(5deg);}
    75%{transform: rotate(-5deg);}
    100%{transform: rotate(0deg);}
    0% {
        filter: hue-rotate(0deg);
        
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
div.musician
{
    width: 400px;
    height: 500px;
    display:flex inline;
    border-image-source: url("./Images/frame-7204772_960_720.png");
    border-image-slice:60;
    border-image-width:50px;
    border-image-outset:50px;
    border-image-repeat:round round;
    border-style:solid;
    margin-left: 80px;
    margin-top: 60px;
    margin-bottom: 100px;
    background: radial-gradient(ellipse ,white,rgb(135, 82, 28));
    text-align: center;
}
div.musician:hover
{
    animation: musicianMove 5s infinite;
    -webkit-animation: musicianMove 5s infinite;
    -webkit-fill-color: transparent;
    
}

.audio-container
{
    display: flex;
    justify-content:right;
    align-items: right;
}

#MozartYoung{
  background-image: url("./Images/Wolfgang-amadeus-mozart_2.jpg");
  text-align:  center;
  color: #b9ef08;
  font-size: 30px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: right;
  width: 330px;
  height: 413px;
  border-radius: 30px;
}

#MozartYoung:hover{
  font-weight: 400;
  color:#c97676;
  animation: MozartYoungColor 2s infinite;
  -webkit-animation: MozartYoungColor 2s infinite;
}
 
@keyframes MozartYoungColor{
0%{ color: #b9ef08;}
16%{ color: #36ef08;}
32%{ color: #5def08;}
50%{color: #08ef55;}
66%{ color: #5def08;}
82%{ color: #36ef08;}
100%{ color: #b9ef08;}
}

.buttonShowHide{
  margin-top: 30px;
  margin-right:15px;
  width: 100px;
  background-color: #08ef55;
  border:groove ;
  font-size: 16px;
  border-radius: 10px;
}

.buttonShowHide:hover{
  
  color:white;
  cursor: pointer;
  
}

#hide1,#hide2,#hide3,#hide4{
  background-color: #0e9c3d;
  border-radius: 10px;
}


.second{
  border-color: rgb(8, 122, 10); 
  height:2px ;
  background:linear-gradient(to right,rgb(169, 229, 18),rgb(10, 20, 206),rgb(184, 99, 167)); 
}

.point{
  color: rgb(183, 35, 12) ; 
  font-weight:bolder ;
  
}

.game{
  background-color: #08ef55;
  width: 30%;
  text-align: center;
  color:#5e09f1;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  margin: 5px;
}
.game:hover{
  background-color: #b96666;
}
#gameName{
  color: #432a05;
  text-align: center;
  font-size: 30px;
  display: block;
  font-weight: 600;
}
#gameContent{
  border: 5px solid;
  width: 100%;
  height: 600px;
  border-radius:  50px;
  border-color: rgb(238, 80, 75);
}
#BTNgame{
  display:flex;
  align-items: center;
  justify-content: center;
}
.BTNgame1{
  text-align: center;
  color: #0bf759;
  background-color: #432a05;
  cursor: pointer;
  margin: 5px;
  display: none;
  font-size: 50px;
  font-weight: 600;
}
#game1_play .grid {
  max-width: 900px;
  margin: 80px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  height: 500px; }

#game1_play .card {
  position: relative;
  -webkit-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

#game1_play .match {
  background-image: none !important; }

#game1_play .card,
#game1_play .back,
#game1_play .front {
  margin: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 190px;
  width: 120px;
  border-radius: 10px; 
  border-color: black;
  border-style: groove;
}

#game1_play .back,
#game1_play .front {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

#game1_play .front {
  background-image: linear-gradient(to bottom,#FFDBB5,#C04ABC);
  background-size: contain; 
}
  

#game1_play .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: rgb(179, 18, 160); }

#game1_play .selected {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

#game1_play .match .front {
  background: none !important; 
}
#backMusician{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}
#backBTN{
  font-size: 20px;
  border-radius: 10px;
  border-color: #08ef55;
  background-color: #dbab58;
}
#backBTN:hover{
  background-color: black;
  color:white;
}
.GameScore{
  text-align: right;
  margin-right:10px ;
}